<!DOCTYPE html 12 satır!config initializers devise.rb deletyi git yapmayı unutm>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" media="all" href="/assets/application-43731e821df91524293c7ce3792cd9367b6509f24378b041d84c093e17f67a23.css" data-turbolinks-track="true">
  <script src="/assets/application-a3d1d0a5e44dcc62e891e1705804bfcbcbe077456c5ac43eb511691e1ef69a77.js" data-turbolinks-track="true"></script><style></style>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="DCybKZLEYbiR15eGHVZ2lmR5AzYKigMoaAlF9ugjTx/A7idrkiKUpGZDV0bDz4/LJnD1zQgbLYrCNESIlzCMlQ==">
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="navbar-container">
  <div class="navbar-header">
  <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
  <span class="sr-only">Toggle Navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
        <div class="navbar-header">
          <a class="navbar-brand"></a>
          <ul class="nav navbar-nav">
                <li><%= link_to "Paylaşımlar", posts_url %></li>
                <li><%= link_to 'Yeni Paylaşım', new_post_path %></li>
                <li><%= link_to "Profil", current_user %></li>
            </ul>
        </div>
  </div>
  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">

    <% if user_signed_in? %> 
      <li> <%= link_to avatar_for(current_user, size: 35), current_user %></li> 
      <li>  <%= link_to 'Çıkış Yap', destroy_user_session_path %></li> 
    <% else %>
      <li> <%= link_to 'Kayıt Ol', new_user_registration_path %> veya <%= link_to 'Giriş Yap', new_user_session_path %></li> 
    <% end %>

    </ul>
  </div>
  </div>
  </nav>
  <div class="container">
      
    <%= yield %>
      <%= render 'layouts/footer' %>
  </div> 
</body>
</html>


